*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.heading{
    font-size: 10rem;
    font-weight: 900;
    background: url(https://i.pinimg.com/736x/aa/46/62/aa466219bacb461a3e10815ebcd0031c.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}