*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255, 68, 0);
    font-family: sans-serif;
}

.btn1{
    text-decoration: none;
    color: antiquewhite;
    border: 2px solid antiquewhite;
padding: 2rem 5rem;
position: relative;
margin: 5px;
overflow: hidden;
transition: all 1s;
}

.btn1::before{
    content: 'Download';
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: antiquewhite;
    transform: translateY(-100%);
    transition: all 1s;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.btn1:hover::before{
    transform: translateY(0);
}

.btn2{
    padding: 2rem 3rem;
    margin: 10px;
    text-transform: uppercase;
    background-color: blueviolet;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
}

.btn2::before{
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: crimson;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.btn2::after{
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14, 231, 14);
display: flex;
justify-content: center;
align-items: center;
transform: rotateX(270deg);
transform-origin: top;
transition: all .5s;
transition-delay: 0.25s;
}

.btn2:hover::before,
.btn2:hover::after{
transform: rotateX(0)
}


.btn3{
   width: 300px;
   height: 60px;
   margin: 10px;
   text-decoration: none;
   text-transform: uppercase;
   background: transparent;
   text-align: center;
   line-height: 60px;
   font-weight: bold;
   letter-spacing: 2px;
   position: relative;
   transition: all .2s;
   color: #fff; 
}

.btn3::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background: #06c988a4;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all .2s;
    transform-origin: top;
}

.btn3::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background: #ffff00a6;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all .2s;
    transform-origin: bottom;
}

.btn3:hover::before{
    top: -6px;
    left:0;
    transform: perspective(1000px) rotateX(75deg);
}


.btn3:hover::after{
    top: 6px;
    left:0;
    transform: perspective(1000px) rotateX(-75deg);
}

.btn3:hover{
    color: #000;

}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: crimsion;
}

.btn4{
    border: none;
    padding: 1rem 4rem;
    background: rgba(17, 17, 137, 0.824);
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

}

.btn4:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
    /* background: teal; */
    border-top: 4px solid darkblue;
    border-left: 4px solid darkblue;
transition: all .2s;
}

.btn4:hover:before{
    height: 100%;
    width: 100%;
}

.btn4:after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid darkblue;
    border-right: 4px solid darkblue;
    transition: all .25s;
}


.btn4:hover:after{
    height: 100%;
    width: 100%;
}


.container2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #000;
}

.btn5{
 position: absolute;
 text-decoration: none;
 text-transform: uppercase;
 padding: 1rem 4rem;
 background: #fff;
 color: #000;
 border-radius: 100px;
 font-size: 1.5rem;
 transition: all .2s;

}

.btn5::before{
    content: "";
    position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #fff;
 border-radius: 100px;
 transition: all 1s;
 z-index: -1;
}

.btn5:hover::before{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}
.btn5:hover{
    transform: translateX(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn5:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}